.DS_Store
Cricket Score Tracker/Cricket Scorekeeper.xcodeproj/project.pbxproj
Cricket Score Tracker/Cricket Scorekeeper.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Cricket Score Tracker/Cricket Scorekeeper.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Cricket Score Tracker/Cricket Scorekeeper.xcodeproj/project.xcworkspace/xcuserdata/
Cricket Score Tracker/Cricket Scorekeeper.xcodeproj/xcuserdata/