.DS_Store
Cricket Scorekeeper/Cricket Scorekeeper.xcodeproj/project.pbxproj
Cricket Scorekeeper/Cricket Scorekeeper.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Cricket Scorekeeper/Cricket Scorekeeper.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Cricket Scorekeeper/Cricket Scorekeeper.xcodeproj/project.xcworkspace/xcuserdata/
Cricket Scorekeeper/Cricket Scorekeeper.xcodeproj/xcuserdata/